{% extends 'base.html' %}

{% block title %}Feed{% endblock %}

{% block content %}
    <h2>Feed</h2>

    {% for obj in object_list %}
        <div class="card mb-4">
            <div class="card-header row">
                <h5>{{ obj.title }} - {{ obj.date_pub|date }} {{ obj.date_pub|time }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ obj.text|truncatechars:20 }}</p>
                <a href="{% url 'post_detail' pk=obj.pk %}" class="btn btn-light">Reed</a>
            </div>
            <div class="card-footer text-muted">
                Author: {{ obj.blog.owner }}
                {% if request.user not in obj.readers.all %}
                    <a href="{% url 'feed:mark_as_read' pk=obj.pk %}" class="offset-2">Mark as read</a>
                {% else %}
                    <a href="{% url 'feed:mark_as_unread' pk=obj.pk %}" class="offset-2">Mark as unread</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}