{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-2">Posts:</h1>
    {% for obj in object_list %}
        <div class="card mb-2">
            <div class="card-header">
                {{ obj.date_pub }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ obj.title }}</h5>
                <p class="card-text">{{ obj.text | truncatechars:15 }}.</p>
                <a href="{% url 'post_detail' pk=obj.pk %}" class="btn btn-light">Reed</a>
            </div>
            <div class="card-footer text-muted row col-8">
                Author: {{ obj.blog.owner }}
            </div>
        </div>
    {% endfor %}
{% endblock %}