{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-5">Posts:</h1>
    {% for obj in object_list %}
        <div class="card mb-4">
            <div class="card-header">
                {{ obj.date_pub }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ obj.title }}</h5>
                <p class="card-text">{{ obj.text | truncatewords:15 }}.</p>
                <a href="{% url 'post_detail' pk=obj.pk %}" class="btn btn-light">Reed</a>
            </div>
            <div class="card-footer text-muted row col-8">
                {#        Tags:#}
                {#        {% for tag in post.tags.all %}#}
                {#            <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>#}
                {#        {% endfor %}#}
                Author: <a href="#">{{ obj.blog.owner }}</a>

                <div class="form-group offset-2">
                    {% if not request.user.is_anonymous %}
                        {% if request.user not in obj.blog.subscribers.all %}
                            <a href="{% url 'feed:subscribe' pk=obj.blog.pk %}" class="btn btn-primary">Подписаться</a>
                        {% else %}
                            <a href="{% url 'feed:unsubscribe' pk=obj.blog.pk %}" class="btn btn-primary">Отписаться</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}