{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-5">Blogs:</h1>
    {% for blog in object_list %}
        <div class="mb-3 col-6">
            <div class="input-group mb-3">
                <h5 class="form-control">{{ blog.owner }}</h5>
                <div class="input-group-append">
                    {% if not request.user.is_anonymous %}
                        {% if request.user not in blog.subscribers.all %}
                            <a href="{% url 'blog_subscribe' pk=blog.id %}" class="btn btn-primary">Подписаться</a>
                        {% else %}
                            <a href="{% url 'blog_unsubscribe' pk=blog.id %}" class="btn btn-primary">Отписаться</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}