{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-5">Blogs:</h1>
    {% for blog in object_list %}
        <div class="mb-3 col-6">
            <div class="input-group mb-3">
                <h5 class="form-control">{{ blog.owner }}</h5>
                <div class="input-group-append">
                    {% if not request.user.is_anonymous %}
                        {% if request.user not in blog.subscribers.all %}
                            <a href="{% url 'feed:subscribe' pk=blog.id %}" class="btn btn-primary">Подписаться</a>
                        {% else %}
                            <a href="{% url 'feed:unsubscribe' pk=blog.id %}" class="btn btn-primary">Отписаться</a>
                        {% endif %}
                        {#                {% if request.user not in article.read_by.all %}#}
                        {#                    <li><a href="{% url 'mark_as_read' pk=article.pk %}">Mark as read</a></li>#}
                        {#                {% else %}#}
                        {#                    <li><a href="{% url 'mark_as_unread' pk=article.pk %}">Mark as unread</a></li>#}
                        {#                {% endif %}#}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}